

body {
  font-family: "Deja Vu Sans", "Nanum Gothic", "HanaA", "HanaB", "Noto Sans",
    "TH Sarabun New", "Unifont", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
  background-color: #d3d3d3;
}

header {
  background-color: #393434;
  color: #fff;
  padding: 2rem 0; /* Increase padding to make the header taller */
  min-height: 200px; /* Set a minimum height for the header */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}
header .headshot {
  flex: 1;
}
header .headshot img {
    width: 100%;         /* Makes the image responsive */
    aspect-ratio: 1 / 1; /* Locks to a square aspect ratio (1:1) */
    object-fit: cover;   /* Ensures the image fills the area */
    border-radius: 5%;  /* Optional: Makes it circular */
    border-color: white;
    border: 15px solid;
    border-bottom: 45px solid;
}
header .details {
  flex: 2;
  text-align: left;
}
header h1 {
  font-size: 2rem;
  margin: 0;
}
header h2 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}
section {
  margin-bottom: 2rem;
}
.section-title {
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: #555;
}
.entry {
  margin-bottom: 1.5rem;
}
.entry h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}
.entry span {
  font-size: 0.9rem;
  color: #777;
}
.entry p {
  margin: 0.5rem 0 0;
}
.panel {
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  font-size: 0.9rem;
}
a {
  color: #1a73e8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.flex-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}
.entry-subtitle {
  font-weight: 550;
}
.signature {
  font-family: "Mrs Saint Delafield", serif;
  font-size: 5rem;
  color: #fff;
  text-align: center;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);  */
}
.title{
  font-size: 1.5rem;
  font-weight: 300;
  color: #9e9e9e;
}

@media (max-width: 768px) {
  .signature {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .signature {
    font-size: 2rem;
  }
}

